/* 
    Document   : s1
    Created on : 2013/2/27, 上午 10:52:45
    Author     : hoamon
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


p.s1 {
    background-color: gray;
}
