{% load compress %}{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="author" content="Amon Ho(hoamon/阿蒙):http://www.hoamon.info/" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="rating" content="general" />
	<meta name="robots" content="All" />
    <title>({{ settings.DEBUG }})Ho600_lib Test</title>
    {% compress css %}
        <link rel="stylesheet" href='{% get_static_prefix %}ho600_lib/s1.css{{ settings.STATIC_VERSION }}' type="text/css" charset="utf-8">
        <link rel="stylesheet" href='{% get_static_prefix %}ho600_lib/s2.css{{ settings.STATIC_VERSION }}' type="text/css" charset="utf-8">
        <link rel="stylesheet" href='{% get_static_prefix %}ho600_lib/s3.css{{ settings.STATIC_VERSION }}' type="text/css" charset="utf-8">
    {% endcompress %}
</head>
<body>

    <p class="s1">This is s1</p>
    <p class="s2">This is s2</p>
    <p class="s3">This is s3</p>
    

</body>
</html>
